html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-background;
  background-image: url(#{$lime-slice-pattern});
  background-repeat: repeat;
  background-size: 40px 20px; // controls size of each lime slice
  background-position: center;
  font-family: $primary-font;
  color: $color-brown;
  min-height: 100vh;
  position: relative;
}

body h2,
h4 {
  color: $color-secondary;
  font-family: $heading-font;
  margin-bottom: 4rem;
}

.profile {
  border-top: 3px solid $color-primary;
  border-bottom: 3px solid $color-primary;
  padding: 4rem;
  margin-block: 3rem;
}

.container {
  width: 100%;
  max-width: 80ch;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

@include mobile {
  .container {
    padding: 0.5rem;
  }

  main {
    padding: 1rem;
  }
}
