nav {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);
  padding: 1rem 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

nav a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
  background: var(--color-primary);
  border-radius: 5px;
}
