#guidelines {
  padding: 2rem;
  background-color: $color-secondary;
  color: $color-light;
  border-radius: 10px;
  margin-block: 4rem;
}

#guidelines h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
  font-family: $heading-font;
}

#guidelines h3 {
  font-family: $heading-font;
}

#guidelines p {
  color: $color-light;
}

#guidelines a {
  color: $color-light;
}

 